<mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async; else container"></mat-spinner>

<ng-template #container>
  <div class="hero wrapper">
    <h1>{{ launch.mission_name }} | {{ launch.flight_number }}</h1>
    <h3>{{ launch.launch_year }}</h3>
    <p class="details">{{ launch.details }}</p>
    <div
      class="background"
      [ngStyle]="{
        'background-image': 'url(' + launch.links.mission_patch + ')'
      }"
    ></div>
  </div>

  <div class="video">
    <iframe
      allow="autoplay"
      allowfullscreen
      [src]="renderYT(launch.links.youtube_id)"
    ></iframe>
  </div>

  <div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="images"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>

    <ng-template #prev>
      <img src="assets/images/prev.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/images/next.png" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">

      <div class="slide-items">
        <img src="{{ item.name }}">
      </div>
    </ng-template>
  </div>

  <button mat-icon-button id="back" (click)="goBack()">
    <mat-icon aria-label="Back" alt="Back">arrow_back_ios</mat-icon>
  </button>

</ng-template>
