<mat-toolbar>
  <div class="main-menu_logo">
    <img [src]="britenet.url" [alt]="britenet.alt" /> &
    <img [src]="spacex.url" [alt]="spacex.alt" />
  </div>

  <div class="buttons">
    <button
      mat-flat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      [routerLink]="['/home']"
    >
      <mat-icon>rocket_launch</mat-icon>
      Launches
    </button>

    <button mat-flat-button [routerLink]="['/ships']">
      <mat-icon>directions_boat</mat-icon>
      Ships
    </button>
  </div>
  <div>
    <button

      (click)="openDialog()"
      mat-icon-button
      aria-label="Your shopping cart">
      <mat-icon
        matBadge="{{(favoritesCount$ | async)}}"
        matBadgeColor="warn">favorite</mat-icon>
    </button>
  </div>
</mat-toolbar>
