<mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async; else container"></mat-spinner>

<ng-template #container>
  <div class="hero wrapper">
    <div class="timeline" *ngIf="containTimeLine | async">
      <app-timeline [timeline]="launch.timeline"></app-timeline>
    </div>

    <h1>{{ launch.mission_name }} | {{ launch.flight_number }}</h1>
    <h3>{{ launch.launch_year }}</h3>
    <h4>Rocket: {{ launch.rocket.rocket_name }} {{ launch.rocket.rocket_type }}</h4>
    <p class="details">{{ launch.details }}</p>
    <div
      class="background"
      [ngStyle]="{
        'background-image': 'url(' + launch.links.mission_patch + ')'
      }"
    ></div>
  </div>

  <app-youtube videoId="{{ launch.links.youtube_id }}"></app-youtube>

  <app-image-slider *ngIf="containImages | async" [images]="launch.links.flickr_images"></app-image-slider>

  <div class="ships" *ngIf="containShips | async">
    <app-ship-list [ship]="AShips"></app-ship-list>
  </div>

  <app-back-button></app-back-button>
</ng-template>
