<mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async; else container"></mat-spinner>

<ng-template #container>
  <div class="hero wrapper">
    <div class="timeline" *ngIf="containTimeLine | async">
      <h3>Timeline</h3>
      <div class="progress-bar">
        <mat-progress-bar class="earth" mode="determinate" [value]="groundProgressbarValue | async"></mat-progress-bar>
        <mat-progress-bar
          class="air"
          mode="determinate"
          [value]="airProgressbarValue | async"
          color="accent"
        ></mat-progress-bar>
      </div>

      <mat-stepper labelPosition="bottom" #stepperGround [linear]="true">
        <div *ngFor="let event of groundTimeline">
          <mat-step *ngIf="event.isVisible">
            <ng-template matStepLabel
              >{{ event.header }}
              <div class="mat-step-optional ng-star-inserted">{{ event.more }}</div>
            </ng-template>
          </mat-step>
        </div>

        <ng-template matStepperIcon="edit" let-index="index">
          <mat-icon>verified</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done" let-index="index">
          <mat-icon>system_update_alt</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number" let-index="index">
          <mat-icon>history_toggle_off</mat-icon>
        </ng-template>
      </mat-stepper>

      <mat-stepper labelPosition="bottom" #stepperAir>
        <div *ngFor="let event of airTimeline">
          <mat-step *ngIf="event.isVisible">
            <ng-template matStepLabel
              >{{ event.header }}
              <div class="mat-step-optional ng-star-inserted">{{ event.seconds }}</div>
            </ng-template>
          </mat-step>
        </div>

        <ng-template matStepperIcon="edit" let-index="index">
          <mat-icon>verified</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done" let-index="index">
          <mat-icon>system_update_alt</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number" let-index="index">
          <mat-icon>history_toggle_off</mat-icon>
        </ng-template>
      </mat-stepper>
    </div>

    <h1>{{ launch.mission_name }} | {{ launch.flight_number }}</h1>
    <h3>{{ launch.launch_year }}</h3>
    <h4>Rocket: {{ launch.rocket.rocket_name }} {{ launch.rocket.rocket_type }}</h4>
    <p class="details">{{ launch.details }}</p>
    <div
      class="background"
      [ngStyle]="{
        'background-image': 'url(' + launch.links.mission_patch + ')'
      }"
    ></div>
  </div>

  <youtube videoId="{{ launch.links.youtube_id }}"></youtube>

  <app-image-slider *ngIf="containImages | async" [images]='images'></app-image-slider>

  <div class='ships' *ngIf='containShips | async'>
    <app-grid-list [data]=AShips></app-grid-list>
  </div>

  <button mat-icon-button id="back" (click)="goBack()">
    <mat-icon aria-label="Back" alt="Back">arrow_back_ios</mat-icon>
  </button>
</ng-template>
