<mat-toolbar>
  <div class="main-menu_logo">
    <img [src]="britenet.url" [alt]="britenet.alt" /> &
    <img [src]="spacex.url" [alt]="spacex.alt" />
  </div>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [routerLink]="['/home']"
  >
    <mat-icon >home</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="missionsMenu">Missions</button>
  <mat-menu #missionsMenu="matMenu" xPosition="before">
    <button mat-menu-item>Mars</button>
    <button mat-menu-item>Starlink</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="landingMenu">Landing Pads</button>
  <mat-menu #landingMenu="matMenu" yPosition="below">
    <button mat-menu-item>Locations</button>
  </mat-menu>
</mat-toolbar>
