<mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async; else container"></mat-spinner>

<ng-template #container>
  <div class="hero wrapper">
    <h1>{{ ship.ship_name }}</h1>
    <div *ngIf="ship.active; else noActive">
      <mat-icon aria-hidden="false" aria-label="Ship is active" color="primary" fontIcon="directions_boat"></mat-icon>
    </div>
    <ng-template #noActive>
      <mat-icon aria-hidden="false" aria-label="Ship is not active" fontIcon="mode_fan_off"></mat-icon>
    </ng-template>
    <h2>{{ ship.home_port }} | {{ ship.ship_type }}</h2>
    <h3>Year build: {{ ship.year_built }}</h3>
    <div
      class="background"
      [ngStyle]="{
        'background-image': 'url(' + ship.image + ')'
      }"
    ></div>
  </div>

<!--  <app-launch-list *ngIf='containShipLocation | async' [pageSize]='4' [launches]="ALaunches"></app-launch-list>-->

  <app-ship-map
    *ngIf="containShipLocation | async"
    [latitude]="ship.position.latitude"
    [longitude]="ship.position.longitude"
  ></app-ship-map>

  <app-back-button></app-back-button>
</ng-template>
