<mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async; else container"></mat-spinner>

<ng-template #container>
  <mat-grid-list [cols]="cols$ | async" rowHeight="600px" gutterSize="10px">
    <mat-grid-tile rowspan="1">
      <mat-selection-list [multiple]="false" (selectionChange)="selectionChange($event)">
        <h2 class="md-display-2">Launch success</h2>
        <mat-divider></mat-divider>
        <mat-list-option *ngFor="let success of successLunched" [value]="success">
          {{ success }}
          <mat-divider></mat-divider>
        </mat-list-option>
        <button mat-raised-button color="warn">
          <mat-icon matBadgeColor="warn">clear_all</mat-icon>
          Clear
        </button>
      </mat-selection-list>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let launch of paginationLaunches">
      <mat-card class="mission-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="header-image"
            [ngStyle]="{
              'background-image': 'url(' + launch.links.mission_patch_small + ')'
            }"
          ></div>
          <mat-card-title>{{ launch.mission_name }}</mat-card-title>
          <mat-card-subtitle>{{ launch.rocket.rocket_name }} | {{ launch.launch_year }} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ launch.links.mission_patch }}" alt="{{ launch.mission_name }}" />
        <mat-card-content class="details">
          <p>
            {{ launch.details }}
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button [routerLink]="['/launch', launch.flight_number]">MORE</button>
          <button mat-button>VESSELS</button>
          <button mat-button>YT</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-paginator
    [showFirstLastButtons]="true"
    [length]="pageLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPaginate($event)"
  >
  </mat-paginator>
</ng-template>
